@model IEnumerable<CallOut.E_Numbers>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CallOut</title>
    <link rel="icon" type="image/ico" href="../img/Icon-Web.png" />
    @Styles.Render("~/Content/css")

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId=1550132248426126&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            if (response.status === 'connected') {
                loginAPI();
                if ($("#id").html() != null) {
                    console.log('hi');
                    $("#login_text").css("display", "none");
                    $("#login").css("display", "none");
                    $("#login_divider").css("display", "none");
                }
                              
            } else {

                $("#login_text").css("display", "block");
                $("#login").css("display", "block");
                $("#login_divider").css("display", "block");
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1550132248426126',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.8' // use graph api version 2.8
            });

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };
        function loginAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', profile => {
                console.log('Successful login for: ' + profile.name);
                
                var id = profile.id;
                var img = "https://graph.facebook.com/" + profile.id + "/picture?type=normal";
                var name = profile.name;

                $("#img").attr("src", img);
                $("#id").html("User ID : "+id);
                $("#name").html("User Name : " + name);

            });
        }


    </script>
    <div class="navbar-fixed">
        <nav class="blue">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s12 m12 l3">
                        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
                            <i class="material-icons">
                                menu
                            </i>
                        </a>
                        <a href="@Url.Action("Index", "CallOut")" class="brand-logo" style="width:200px; height:50px; margin-top:5px"><img src="~/img/Logo.png" style="width:200px; height:50px"></a>
                    </div>
                    <div class="col l7 right">
                        <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
                          <li>
                            <button type="button" name="button" class="waves-effect waves-light btn blue" id="alarm-sound">
                              Emergency Alarm
                            </button>
                          </li>
                        </ul> -->
                        <div class="hide-on-med-and-down">
                            <h5>Creating a safe place for everyone</h5>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div>
        <ul id="slide-out" class="sidenav grey lighten-2">
            <li>
                <div class="user-view">
                    
                    <a href="#user"><img class="circle" id="img" src="~/img/default_user_icon.png"></a>
                    <a href="#name"><span class="grey-text text-darken-2 name" id="name">User Not Logged in</span></a>
                    <a href="#id"><span class="grey-text text-darken-2 name" id="id"></span></a>
                </div>
            </li>


            <li><div class="divider blue-grey lighten-3" id="login_divider"></div></li>
            <li><a class="subheader" id="login_text">Login methods</a></li>
            <div class="input-field" style="margin-top:0px; margin-bottom:0px; padding-right:15px">
                <a id="login" class="waves-effect waves-light btn social facebook blue darken-2" style="margin-left:10px; width:230px">
                    <i class="fa fa-facebook">
                    </i>
                    &nbsp; Sign in with facebook
                </a>
            </div>

            <li><div class="divider blue-grey lighten-3"></div></li>

            <li><a href="@Url.Action("ShareProblems", "CallOut")" ><i class="material-icons red-text text-lighten-1">report</i>
                    Share your Emergency 
                </a>
            </li>

            <li>
                <a class="waves-effect waves-light modal-trigger" href="#TM">
                    <i class="material-icons green-text text-lighten-2">
                        announcement
                    </i>
                    Tech Mash-up
                </a>
            </li>

            <li><div class="divider blue-grey lighten-3"></div></li>
           
            <li>
                <a class="waves-effect" id="logout">Logout</a>
            </li>
            <li><a>© 2018 CallOut, All rights reserved</a></li>
        </ul>
    </div>

    <div id="TM" class="modal">
        <div class="modal-content">
            <h4>Tech Mash-up</h4>
            <p>
                The app use retrieving data from server, geolocation and sound. 
             </p>
            <p> By combining these technologies, the app can
                achieve more than just a regular alarming app. Using with the combination the app evolves into an app that became
                much more convenient to users and much more functional for daily use.
            </p>
            <p>In future, you can add regional language support,
                live location sharings, direct call to local authorities, location based selection for local authorities and language support.
            </p>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script>
        $(document).ready(function () {
            $('.dropdown-trigger').dropdown();
            $('.modal').modal();

            $("#logout").click(function () {
                FB.logout(function (response) {
                    // user is now logged out
                });
                $("#img").attr("src", "~/img/default_user_icon.png");
                $("#id").html("");
                $("#name").html("User Not Logged in");

                $("#login_text").css("display", "block");
                $("#login").css("display", "block");
                $("#login_divider").css("display", "block");
            });

            $("#login").click(function () {
                console.log("logging in")
                
                FB.login(function (response) {
                    if (response.status === 'connected') {
                        // Logged into your app and Facebook.
                        loginAPI();
                        $("#login_text").css("display", "none");
                        $("#login").css("display", "none");
                        $("#login_divider").css("display", "none");
                    } else {
                        // The person is not logged into your app or we are unable to tell.
                        console.log("Please Log in");
                    }
                });   
            });
        });
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
